/* custom css here */

body {
    background-color: #e6e6e6;
    font-family: "Open Sans", sans-serif;
}
.form-group input, .form-group select {
    background-color: #F0F0F0;
    border: 0;
}
header .row h6 {
    margin-top: 29px;
}
header .row h6 strong {
    font-size: 18px;
}
h3 {
    margin-top: 7px;
}
.container {
    background-color: #fff;
}
.divider {
    position: relative;
}
.divider:before {
    content: '';
    position: absolute;
    width: 97%;
    display: block;
    height: 2px; 
    background-color: grey;
    top: 50%;
    z-index: 0;
}
.divider .btn-group .active {
    background-color: #0D77BF;
    color: #fff;
}
.hotspot {
    border: 1px solid #2A9FD8;
    background: rgba(0,173,255,.54);
    text-indent: -9999px;
    cursor: pointer;
}