/* custom css here */

body {
    background-color: #e6e6e6;
    font-family: "Open Sans", sans-serif;
}
h3 {
    margin-top: 7px;
}
.container {
    background-color: #fff;
}
.divider {
    position: relative;
}
.divider:before {
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    height: 2px; 
    background-color: grey;
    top: 50%;
    z-index: 0;
}
.divider .nav-pills {
    text-align: center;
}
.divider .nav-pills li {
    float: none;
    display: inline-block;
}
.hotspot {
    border: 1px solid #2A9FD8;
    background: rgba(0,173,255,.54);
    text-indent: -9999px;
    cursor: pointer;
}